*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.container {
   width: 1024px;
   margin-inline: auto;
   position: relative;
   top: 50px;
   max-width: 100%
}
body {
   background: #000;
   font-family: 'Poppins', 'san-serif';
}

.Header-link {
    position: fixed;
    right: 10px;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 10px;
}
.code-block {
   background: #b0c4b1;
   color: #4a5759;
   padding: 20px 25px 5px;
}
.code-block + .code-block {
   margin-top: 10px;
}
.title {
   font-weight: 600;
   margin-bottom: 10px;
}
.copy-to-clipboard-button {
   color: #fff !important;
}



