*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.container {
   width: 1024px;
   margin-inline: auto;
   position: relative;
   top: 50px;
   max-width: 100%
}
body {
   background: #000;
   font-family: 'Poppins', 'san-serif';
}
.code-block {
   background: #b0c4b1;
   color: #4a5759;
   padding: 20px 25px 5px;
}
.code-block + .code-block {
   margin-top: 10px;
}
.title {
   font-weight: 600;
   margin-bottom: 10px;
}
.copy-to-clipboard-button {
   color: #fff !important;
}



